h1, footer, .menu { /* absolutely need to rename, just placeholder for now! */
    font-size: 24px;
    /* color:mediumpurple; */
    /* font-style:italic; */
    text-align:center; 
    font-family:'Courier New', Courier, monospace;
}

footer{
    background-color:lightsteelblue; 
    padding: 10px;
    display: flex;
    justify-content: center;
}


