h1, footer, .menu, .galleryOptions { /* absolutely need to rename, just placeholder for now! */
    font-size: 24px;
    /* color:mediumpurple; */
    /* font-style:italic; */
    text-align:center; 
    font-family:'Courier New', Courier, monospace;
}

footer{
    background-color:lightsteelblue; 
    padding: 10px;
    display: flex;
    justify-content: center;
}
.main-page, .gallery-options{ /*NEED TO CHANGE!!!! JUST PLACE HOLDER FOR NOW!!!! */
  padding: 44vh 45vw;
}

/* AHHHH */

/* need to change colors, fonts, closing x, and need to figure out way to get menu to close when you click on an option */

   .overlay{
    position:absolute;
    background-color:lightblue ;
    height:100%;
    width:100%;
    text-align: center;
     width:0px;
     overflow:hidden;
     transition:all 0.8s ease-in;
  }
  .overlay nav a{
    /* top: 50vh; */
    text-decoration:none;
    padding: 5vh;
    color:grey;
    font-size: 10vh;
    height:60px;
    display:block;
    font-weight:bold;
    transition: all 0.4s ease;
  }
  .overlay nav a:hover{
    color:black;
    font-weight: bolder;
    font-size:13vh;
  }
  nav{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .ham-menu div{
    height: 3px;
    margin-bottom: 4px; 
    background: black;
    border-radius: 3px;
  }
  .cross div{
    height: 4px;
    width: 20px;
    margin-bottom: 4px; 
    background: black;
    border-radius: 3px;
  }
  .ham-menu, .cross{
    cursor: pointer;
  }
  .container{
    padding:9px 0px;
    width:20px;
    height:17px;
    background-color:none;
    border-radius:45%;
    cursor: pointer;
    position:sticky;
    left:5%;
    top:50vh;
    transform: translateX(-50%);
  }
  .container:hover{
    background-color: none;
  }
  .container:hover >.ham-menu>div{ /* changes color of menu button on hover */
    background-color:cornflowerblue;
  }
  #radio1:checked ~ .overlay{
    width:100%;
  }
  /* .cross{  
    font-size: 40px;
    font-weight:bold;
    float:left;
    margin:30px 30px;
    cursor:pointer;
    transition:all 0.3s ease;
  } */
  /*the look and other scpects of the exit menu cross */

  .cross:hover{ /* changes color and aspects of the close menu cross on hover */
    font-size:45px;
    color:lavender;
  }
  input[type="radio"]{
    display:none;
  }

 
 