@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body{
  margin: 0;
}

h1, footer, .menu, .galleryOptions, .timeline-content { /* absolutely need to rename, just placeholder for now! */
  font-size: 24px;
  /* color:mediumpurple; */
  /* font-style:italic; */
  text-align:center; 
  font-family:'Courier New', Courier, monospace;
}

footer{
  background-color:lightsteelblue; 
  padding: 10px;
  display: flex;
 justify-content: center;
}
.main-page, .gallery-options{ /*NEED TO CHANGE!!!! JUST PLACE HOLDER FOR NOW!!!! */
  padding: 44vh 45vw;
}

/* AHHHH */

/* -------------- menu css -------------- */

:root{
  --overlay-color: rgba(24,39,51,0.85);
  --menu-speed: 0.75s;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.menu-wrap{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-wrap .toggler{
  position: absolute;
  top: 50vh;
  left: 10px;
  z-index: 2;
  width: 40px;
  cursor: pointer;
  height: 40px;
  opacity: 0;
}
.menu-open, .menu-close{
position: absolute;
top: 50vh;
left: 10px;
z-index: 1;
font-size: 20px;
padding: 1rem;
display: flex;
align-items: center;
justify-content: center;
}
.menu-close{
visibility:hidden;
}
/* Show menu */
.menu-open, .menu-wrap .toggler:checked ~ .menu, .menu-wrap .toggler:checked ~ .menu-close{
visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu-open{
visibility: hidden;
}
.menu-wrap .toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div{
  background-color: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0); 
  transition: all 0.4s ease;
}
.menu-wrap .menu > div >div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0; 
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu >div > div > ul > li > a{
   color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
.menu-close{
  color: white;
  left: 5%;
  justify-content: left;
}
 /* -------------------- about page grid css ---------------------- */

 :root {
  --main-radius: 5px;
  --main-padding: 5px;
}
.about-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}
.about-container main {
  background: #84ffff;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#sidebar {
  background: #18ffff;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#content1 {
  background: #6fffd2;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#content2 {
  background: #64ffda;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
#content3 {
  background: #73ffba;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}
.about-container footer {
  background: #1de9b6;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

@media only screen and (max-width: 550px) {
  .about-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

/* ---------- timeline css ------------ */
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.timeline-content{
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
table{
  border-collapse: separate;
  width: 75%;
  text-indent: initial;
  border-spacing: 2px;
}
.timeline-table-header h1{
  text-align: left;
  font-size: 80px;
  position: static;
  top: 25vh;
  left: 50vw;
  line-height: 85px;
}
.timeline-td-location .timeline_link{
  display: flex;
  align-items: baseline;
}
.timeline-td-location .timeline_link::after{
  content: "";
  margin-left: 0.25em;
  width: 100%;
  height: 3px;
  flex: auto;
  border-bottom: 1px dotted black;
}
.timeline-td-location{
  text-align: left;
  width: 90%;
}
.timeline-td-date{
  text-align: center;
  width: 10%;
}
td{
  vertical-align: middle;
}
td a{
  color: black;
}
.timeline-row-names_location{
  text-align: left;
}
/* ------------------ gallery all ----------------- */
.photo-grid{
  width: 100vw;
  display: grid;
  grid-template-columns: 1vw 2vw 4vw repeat(5, 1fr) 4vw 2vw 1vw;
  grid-auto-rows: 14.2vw;
  grid-auto-flow: row;
  grid-gap: 1.5vw;
  margin-bottom: 1.5vw;
}
.photo-grid .x3-5{
  /* grid-column: 4/span 5; */
  grid-column-start: 4;
  grid-column-end: span 5;
}
.photo-grid .y0-4{
  /* grid-row: 1/span 4; */
  grid-row-start: 1;
  grid-row-end: span 4;
}

 