/* everything here down is css for the current menu i have */
.nav, .menu { 
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: relative;
    background-color: #a7c1da;
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 450px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #666;
    font-size: 30px;
    font-weight: 400;
    transition: 0.5s;
}

.menu li a:hover {
    color: #161919;
}

.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #666;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}




/* --------------------origin menu css-------------------- */
.overlay{
    position:fixed;
    background-color:lightblue ;
    height:100vh;
    top:0;
    width: 0;
    overflow:hidden;
    transition:all 0.8s ease-in;
  }
  .overlay nav ul li{
    text-decoration:none;
    padding: 4vh 5vw 4vh 15vw;
    color:grey;
    font-size: 10vh;
    top: 50vh;
    left: 10vw;
    height:10vh;
    font-weight:bold;
    transition: all 0.4s ease;
  }
  .overlay nav ul li:hover{
    color:black;
    font-weight: bolder;
    font-size:13vh;
  }  
  /* .ham-menu div,  .cross div{    
    margin-bottom: 4px; 
    background: black;
    border-radius: 3px;
  } */
  .menu-button,  .cross div{    
    margin-bottom: 4px; 
    height: 4px;
    width: 10px;
    background: black;
    border-radius: 3px;
  }
  /* .ham-menu div{
    height: 3px;
  }
  .cross div{
    height: 4px;
    width: 20px;
  } */
  .ham-menu, .cross{
    cursor: pointer;
  }
  .container{
    padding:9px 0px;
    width:20px;
    height:17px;
    background-color:none;
    border-radius:45%;
    cursor: pointer;
    position:sticky;
    left:5%;
    top:50vh;
    transform: translateX(-50%);
  }
  .container:hover{
    background-color: none;
  }
  .container:hover >.ham-menu>div{ /* changes color of menu button on hover */
    background-color:cornflowerblue;
  }
  #radio1:checked ~ .overlay{
    width:100%;
  }
  
  /*the look and other aspects of the exit menu cross */

  .cross:hover{ /* changes color and aspects of the close menu cross on hover */
    font-size:45px;
    color:lavender;
  }
  input[type="radio"]{
    display:none;
  }